{
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": true
  },
  "plugins": [
    "@typescript-eslint",
    "sonarjs",
    "import",
    "no-only-tests",
    "no-secrets",
    "eslint-plugin",
    "typescript-enum"
  ],
  "extends": [
    "eslint:all",
    "plugin:@typescript-eslint/strict-type-checked",
    "plugin:@typescript-eslint/stylistic-type-checked",
    "plugin:eslint-plugin-eslint-plugin/recommended",
    "plugin:sonarjs/recommended",
    "prettier",
    "plugin:typescript-enum/recommended"
  ],
  "rules": {
    "sort-keys": "off",
    "capitalized-comments": "off",
    "func-style": ["error", "declaration", { "allowArrowFunctions": true }],
    "no-negated-condition": "off",
    "multiline-comment-style": "off",
    "no-magic-numbers": ["error", { "ignore": [-1, 0, 1, 2, 10, 16, 60] }],
    "no-ternary": "off",
    "max-params": ["error", 8],
    "max-statements": "off",
    "consistent-return": "off",
    "no-undef": "off",
    "init-declarations": "off",
    "no-inline-comments": "off",
    "line-comment-position": "off",
    "prefer-destructuring": "off",
    "no-useless-return": "off",
    "complexity": "off",
    "max-lines": ["error", { "max": 500, "skipBlankLines": true, "skipComments": true }],
    "id-length": ["error", { "properties": "never", "exceptions": ["_"] }],
    "no-plusplus": "off",
    "default-case": "off",
    "no-continue": "off",
    "callback-return": ["error", ["callback", "cb"]],
    "new-cap": ["error", { "capIsNew": false }],
    "dot-notation": "off",
    "no-undefined": "off",
    "one-var": ["error", "never"],
    "max-lines-per-function": ["error", 200],
    "sonarjs/cognitive-complexity": ["error", 24],
    "no-only-tests/no-only-tests": "error",
    "curly": "error"
  },
  "overrides": [
    {
      "files": ["*.spec.ts", "*.test.ts"],
      "rules": {
        "no-magic-numbers": "off",
        "no-undefined": "off",
        "max-lines-per-function": "off",
        "sonarjs/no-duplicate-string": "off",
        "sonarjs/no-identical-functions": "off",
        "sonarjs/cognitive-complexity": "off",
        "max-lines": "off",
        "no-await-in-loop": "off",
        "@typescript-eslint/no-unsafe-call": "off",
        "@typescript-eslint/no-unsafe-member-access": "off",
        "@typescript-eslint/no-unsafe-assignment": "off",
        "@typescript-eslint/no-unsafe-return": "off",
        "@typescript-eslint/restrict-template-expressions": "off"
      }
    }
  ]
}
